.cols {
    display: flex;
    flex-wrap: wrap;
    margin: -35px -10px 0;

    .col {
        flex: 0 1 auto;
        padding: 35px 10px 0;

        &--1of2 {
            flex: 0 1 50%;
            max-width: 50%;
        }

        @include breakpoint-mobile-portrait {
            flex: 0 1 100%;
            max-width: 100%;
        }
    }
}