.footer {
    padding: 30px 0;
    background: $dark-red;

    @include breakpoint-mobile {
        padding: 20px 0;
    }

    @include breakpoint-mobile-portrait {
        padding: 15px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
        color: #ffffff;

        @include breakpoint-mobile-portrait {
            font-size: 12px;
        }
    }

    a {
        font-size: 40px;
        color: #ffffff;

        @include breakpoint-mobile {
            font-size: 30px;
        }

        @include breakpoint-mobile-portrait {
            font-size: 20px;
        }

        &:hover {
            color: $black;
        }
    }
}