input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form {
    &__row {
        + .form__row {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}