.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
        background: $black;
        opacity: 0.8;
        transition: top .3s linear, box-shadow .3s linear;
    }

    .btn {
        transform: translateY(100%);
        opacity: 0;
        transition: transform .3s linear, opacity .3s linear;
    }
    
    &.scrolled {
        .btn {
            transform: translateY(0);
            opacity: 1;
        }

        &:after {
            top: 0;
            box-shadow: 0 1px 1px 1px $red;
        }
    }
}