@keyframes animate-in {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

.logo {
    transform: translateY(-100%);
    display: inline-block;
    padding: 5px;
    border: 2px solid $red;
    font-family: $cairo;
    font-size: 30px;
    color: $red;
    text-decoration: none;
    opacity: 0;
    animation: animate-in .5s ease-out;
    animation-fill-mode: forwards;

    @include breakpoint-mobile {
        font-size: 20px;
    }

    @include breakpoint-mobile-portrait {
        border-width: 1px;
        font-size: 15px;
    }

    &:hover {
        background: $red;
        color: $black;
    }
}