.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
}

.visible-xs {
	display: none !important;

	@include breakpoint-mobile {
		display: inline-block !important;
	}
}

.hidden-xs {
	@include breakpoint-mobile {
		display: none !important;
	}
}