/* ------------------------------------------------------------ *\ 
    Article
\* ------------------------------------------------------------ */

.article {
    background: #222222f2;
    padding: 50px 0;
    color: #ffffff;

    &__head {
        margin-bottom: 30px;
        text-align: center;
    }

    &__inner {
        margin-bottom: 30px;

        h4 {
            margin-bottom: 20px;
        }
    }
}