/* ------------------------------------------------------------ *\ 
    Images
\* ------------------------------------------------------------ */

.images {
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------------------------------------ *\ 
    Image
\* ------------------------------------------------------------ */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 25%;
    max-width: 25%;
    padding: 10px 10px 0;
}