/* ------------------------------------------------------------ *\ 
    Videos
\* ------------------------------------------------------------ */

.videos {
    display: flex;
    flex-wrap: wrap;

    .video {
        flex: 0 1 33.33%;
        max-width: 33.33%;
    }
}

/* ------------------------------------------------------------ *\ 
    Video
\* ------------------------------------------------------------ */

.video {
    padding: 20px 10px 0;

    iframe {
        width: 100%;
        height: 300px;
    }
}